Azure-Data-Factory-Pipeline/shopify data ingestion pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"Shopify1":{"type":"string"},"adf_adls_connect":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/shopify data ingestion pipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Fetch All Tables","type":"ForEach","dependsOn":[],"userProperties":[],"typeProperties":{"items":{"value":"@variables('shopify_tables')","type":"Expression"},"isSequential":true,"activities":[{"name":"Set folder_name variable","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"folder_name","value":{"value":"@replace(split(item(), '.')[1], '\"', '')","type":"Expression"}}},{"name":"Copy data to adls gen2","type":"Copy","dependsOn":[{"activity":"Set folder_name variable","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":1,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"ShopifySource"},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"shopify_dataset","type":"DatasetReference","parameters":{"current_shopify_table":{"value":"@item()","type":"Expression"}}}],"outputs":[{"referenceName":"shopify_adls","type":"DatasetReference","parameters":{"shopify_adls_folder":{"value":"@variables('folder_name')","type":"Expression"}}}]}]}}],"policy":{"elapsedTimeMetric":{}},"variables":{"shopify_tables":{"type":"Array","defaultValue":["\"Shopify\".\"GiftCard\"","\"Shopify\".\"InventoryItem\"","\"Shopify\".\"InventoryLevel\""]},"folder_name":{"type":"String","defaultValue":" "}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/shopify_dataset')]","[concat(variables('factoryId'), '/datasets/shopify_adls')]"]},{"name":"[concat(parameters('factoryName'), '/shopify_dataset')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('Shopify1')]","type":"LinkedServiceReference"},"parameters":{"current_shopify_table":{"type":"String"}},"annotations":[],"type":"ShopifyObject","schema":[],"typeProperties":{"tableName":{"value":"@dataset().current_shopify_table","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/shopify_adls')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('adf_adls_connect')]","type":"LinkedServiceReference"},"parameters":{"shopify_adls_folder":{"type":"String"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@concat(formatDateTime(utcNow(), 'yyyy-MM-dd'), '.csv')\n","type":"Expression"},"folderPath":{"value":"@dataset().shopify_adls_folder","type":"Expression"},"fileSystem":"shopify"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}